* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}


.co-main {
    color: #232f3e;
}

.co-second {
    color: #febd69;
}

.bg-main {
    background: #232f3e;
}

.bg-second {
    background: #f3cd71;

}

.btn-second {
    background: #f3cd71;
    border: 1px solid black;
}

.btn-second:hover {
    background: #febd69;
    border: 1px solid black;
}